@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    background-image: url('../images/banner/banner3.png');
    height: 100vh;
    background-size: cover;
    color: white;
    text-align: right;
    position: relative;
}
.banner{
    position: absolute;
    right: 200px;
    top: 180px;
}
header h1{
    font-size: 50px;
    font-weight: 800;
}
header p{
    font-weight: 300;
    padding: 20px 0;
}
.btn{
    padding: 14px 30px;
    color: blue;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
}